# Setting up our modules

In [ ]:
import numpy as np
from datascience import *

In [ ]:
youtube = Table.read_table('topSubscribed.csv')
customers = Table.read_table('Customers.csv')

In [ ]:
youtube

In [ ]:
customers

# Defining Functions

Let's convert some well-known formulas into functions

In [ ]:
def hypotenuse_of_right_triangle(a,b):
    '''a**2 + b** = c**2 '''
    hypotenuse = ...
    return hypotenuse

In [ ]:
hypotenuse_of_right_triangle(3,4)

In [ ]:
def quadratic_formula(a,b,c):
    ...
    x_1 = ...
    x_2 = ...
    return x

In [ ]:
quadratic_formula(2,12,16)

We have imported a csv file with the top 1000 most subscribed YouTube Channels. One column of data contains the year in which the YouTube channel started. Let's define a function in which we calculate the 'age' of the channel

In [ ]:
def channel_age(...):
    ...
    return ...

Let's test our function below (goal is 17):

In [ ]:
channel_age(2006)

Let's apply the 'channel_age' function to the entire table by:
1) creating a new array using the .apply('Column_label',function_name) method
2) using the .with_columns('new_Column_label_name',created_array) method to add that column at the right end

Let's take a look back at the 'customers' table. In the previous lecture, we observed that there were a long list of unique ages. Let's collapse this variable to consider decades instead. So, for example, ages 20 - 29 get grouped/categorized into a single value: 20('s).

# Grouping