# Setting up our modules

In [1]:
import numpy as np
from datascience import *
import random as r

In [2]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [12]:
session_logs = Table.read_table('session_logs.csv')
movies = Table.read_table('Movies - Cleaned.csv')

# Grouping Data Demo

In [24]:
session_logs.show(5)
movies.show(5)

# Space to mess with a few grouping functions

In [ ]:
#Let's try here - > table.group('column label') or table.group('column label',some_function)

# Now let's try answering some questions

## Who is the hardest working director in the movie table?

## Question: Which movie series had the most sequels? How many were in the series?

## Question: Which classes had the highest number of tutoring visits in the STEM Center?

## Question: Do sequels perform better (on average) than their originals?

## Which date had the highest number of visits to the STEM Center?